<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.kids.api.account.parents.ParentsRepository">
	<select id="getParentsByUID" parameterType="parents"
		resultType="parents">
		select * from parents where uuid = #{uuid} and provider =
		#{provider}
	</select>

	<insert id="insert" parameterType="parents">
		insert into parents(uuid,
		provider, name, email) values(#{uuid}, #{provider}, #{name}, #{email})
	</insert>

	<update id="unlink" parameterType="parents">
		update parents set enabled =
		false, disable_time = current_timestamp where uuid = #{uuid}
	</update>


	<update id="enable" parameterType="parents">
		update parents set enabled =
		true, disable_time = null where uuid = #{uuid}
	</update>

	<update id="updateToken" parameterType="parents">
		update parents set
		messaging_token =
		#{messagingToken} where id = #{id}
	</update>
</mapper>
