<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kids.api.mapper.Quest">
	<select id="detail" parameterType="int" resultType="quest">
		select * from quest where quest_no = #{questNo}
	</select>
	
	<insert id="insert" parameterType="quest">
		insert into quest(name, reward, description, parent_id) values(#{name}, #{reward}, #{description}, #{parentId})			
	</insert>
	
	<update id="update" parameterType="int">
		update quest set deleted=true  where quest_no = #{questNo}
	</update>
	
	<select id="list" parameterType="int" resultType="quest">
		select * from quest where parent_id = #{parentId}
	</select>
	
	<insert id="setQuest" parameterType="kidsquest">
		insert into kids_quest(kid_id, quest_no, start_time, end_time) values(#{kidId}, #{questNo}, #{startTime}, #{endTime})			
	</insert>
	
	<update id="finishQuest" parameterType="kidsquest">
		update kids_quest set finish=true  where quest_no = #{questNo} and kid_id = #{kidId}
	</update>
	
	<delete id="deleteQuest" parameterType="kidsquest">
		delete from kids_quest where quest_no= #{questNo} and kid_id = #{kidId} 
	</delete>
	
	<select id="kidQuestList" parameterType="int" resultType="kidsquest">
		select q.name, q.reward, q.description, k.start_time, k.end_time
		from quest q, kids_quest k
		where q.quest_no =k.quest_no and k.kid_id=#{kidId}
	</select>
</mapper>
